
  body   {
    background-image: url("Cupcake images/Background img.jpg");
    background-size: cover; 
    }

    menu
{
  width: 150px;
  float: inline-start; 
  height: 50px;
}
ul
{
float:left ;
display:flex;
justify-content:center;
align-items:center;

}
 ul li
 {
 list-style: none; 
 margin-left: 70px;
margin-top: 20px;
font-size: 35px;

 }
p
{
align-items: center;
}


